legend {
    background-color: var(--color-support-1-900);
    color: #fff;
    width: 65%;
    margin: 0 auto 15px auto;
    padding: 15px;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
}

div#searchBox {
    background-color: var(--color-neutral-100);
    color: #000;
    padding: 15px;
    width: 65%;
    margin: 0 auto;
}

div#searchBox input[type="text"] {
    border: none;
    height: 30px;
    width: 10%;
}

div#paintingBox {
    background-color: var(--color-neutral-100);
    width: 65%;
    padding: 15px;
    margin: 15px auto 0 auto;
}

#paintingtitle {
    background-color: #0E7C86;
    color: #fff;
    text-align: center;
    padding: 5px;
}

table thead {
    background-color: var(--color-primary-1-050);
}

table {
    justify-content: space-around;
    width: 100%;
    border-collapse: collapse;
}

.table-row:nth-child(1), .table-row:nth-child(2), .table-row:nth-child(3), .table-row:nth-child(4) {
    border-bottom: 1px solid rgba(000, 000, 000, .25);
}

tr.table-row > td {
    padding-top: 25px;
    padding-bottom: 25px;
}

th {
    text-align: left;
}

td {
    align-items: column;
    flex-direction: column;
}

.table-row {

}

img {
    width: 100px;
}

.first-column {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 75px;
}

.btn {
    background: #fff;
    width: 20%;
    box-shadow: 0 0 2px 2px #cccccc;
}

.btn:hover {
    background: var(--color-primary-1-800);
    color: #fff;
}

.actionAttributes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.first {
    background: var(--color-primary-1-500);
}

.btn > img {
    width: 15px;
}

button {
    background-color: var(--color-primary-1-800);
    width: 50px;
    height: 35px;
    margin-left: 5px;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}